.App {
    min-height: 100vh;
    width: auto;
    background: #AFD4C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    height: 80px;
    width: 100%;
    background: #519872;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
}

.header-image {
    margin-left: 20%;
    margin-top: 5px;
    height: 40px;
    width: 50px;
}

.main {
    min-height: 100vh;
    width: 60%;
    background: #E5F4EC;
}

.subheader-wizard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 15px 30px 15px;
}

.steps1-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 100px;
}

.steps2-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 100px;
    margin-left: 40px;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 100px;
    margin-left: 40px;
}

.subheader-dash {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px 0px 15px;
    color: #3B5249;
    font-size: 2rem;
    font-weight: bold;
}

hr {
    width: 96%;
    height: 1.2px;
    background: grey;
    opacity: 0.7;
}

.home-listings {
    margin-left: 40px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}

.rent-input {
    margin-left: -30px;
}

.rent-input1 {
    width: 250px;
}

.mortgage-input1 {
    width: 250px;
    margin-left: -30px;
}

.input-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.property-input {
    font-weight: bold;
}

.address-input {
    font-weight: bold;
}

.city-input {
    font-weight: bold;
}

.state-input {
    font-weight: bold;
}

.zip-input {
    font-weight: bold;
}

.address {
    width: 490px;
    margin-right: 150px;
}

.property-name {
    width: 250px;
    margin-right: 50px;
}

.state {
    width: 50px;
}

.house {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0 15px 25px 15px;
    background: #DEDEDE;
    padding: 10px;
    border-radius: 5px;
}

.img-container {
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-left: -50px;
}

.mortgage-rent-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-left: -30px;
}

p {
    margin: 5px;
}

.pproperty::before {
    content: 'Property Name: ';
    font-weight: bold;
}

.paddress::before {
    content: 'Address: ';
    font-weight: bold;
}

.pcity:before {
    content: 'City: ';
    font-weight: bold;
}

.pstate::before {
    content: 'State: ';
    font-weight: bold;
}

.pzip::before {
    content: 'Zip: ';
    font-weight: bold;
}

.pmortgage::before {
    content: 'Monthly Mortgage: ';
    font-weight: bold;
}

.prent::before {
    content: 'Desired Rent: ';
    font-weight: bold;
}

.pp {
    margin-left: 15px;
}

.pa {
    margin-left: 15px;
}

.pc {
    margin-left: 15px;
}

.ps {
    margin-left: 15px;
}

.pz {
    margin-left: 15px;
}

.pm {
    margin-left: -25px;
    font-weight: bold;
    /* margin-right: px; */
}

.pd {
    font-weight: bold;
}

button {
    border: none;
    height: 30px;
    font-weight: bold;
}

.complete-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 15px;
    margin-top: 200px;
}

.next-step1 {
    background: #3B5249;
    color: white;
}

.next-step2 {
    background: #3B5249;
    color: white;
}

.previous-step2 {
    background: #3B5249;
    color: white;
}

.previous-step3 {
    background: #3B5249;
    color: white;
}

.cancel-btn {
    background: #FEC2C2;
}

.complete {
    background: #8AEA92;
}

.add-property {
    background: #8AEA92;
}

img {
    height: 150px;
    width: 200px;
    border-radius: 5px;
}

.img-input {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-url {
    width: 490px;
}

.pimageurl {
    margin-left: -390px;
}