.App {
    min-height: 100vh;
    width: auto;
    background: #afd4c0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommended {
    font-weight: bold;
    margin-bottom: 20px;
}

.Header {
    height: 80px;
    width: 100%;
    background: #519872;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
    box-shadow: 3px 3px 3px grey;
    z-index: 1;
}

.header-image {
    margin-left: 20%;
    margin-top: 5px;
    height: 40px;
    width: 50px;
}

.main {
    min-height: 100vh;
    width: 60%;
    min-width: 620px;
    background: #e5f4ec;
}

.subheader-wizard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 15px 30px 15px;
}

.steps1-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 100px;
}

.steps2-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 100px;
    margin-left: 40px;
}

.btns-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 100px;
    margin-left: 40px;
}

.subheader-dash {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px 0px 15px;
    color: #3b5249;
    font-size: 2rem;
    font-weight: bold;
}

.add-listing {
    color: #3b5249;
}

hr {
    width: 96%;
    height: 1.2px;
    background: grey;
    opacity: 0.7;
}

.home-listings {
    margin-left: 40px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}

.rent-input {
    margin-left: -30px;
}

.rent-input1 {
    width: 250px;
}

.mortgage-input1 {
    width: 250px;
    margin-left: -30px;
}

.input-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.property-input {
    font-weight: bold;
}

.address-input {
    font-weight: bold;
}

.city-input {
    font-weight: bold;
}

.state-input {
    font-weight: bold;
}

.zip-input {
    font-weight: bold;
}

.address {
    width: 490px;
    margin-right: 150px;
}

.property-name {
    width: 250px;
    margin-right: 50px;
}

.state {
    width: 50px;
}

.house {
    display: flex;
    height: auto;
    margin: 0 15px 25px 15px;
    background: #dedede;
    padding: 10px;
    border-radius: 7px;
}

.house:hover {
    transform: scale(1.01);
    transition: 0.1s;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.mortgage-rent-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.invisible {
    width: 15vw;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

p {
    margin: 5px;
}

.pproperty::before {
    content: "Property Name: ";
    font-weight: bold;
}

.paddress::before {
    content: "Address: ";
    font-weight: bold;
}

.pcity:before {
    content: "City: ";
    font-weight: bold;
}

.pstate::before {
    content: "State: ";
    font-weight: bold;
}

.pzip::before {
    content: "Zip: ";
    font-weight: bold;
}

.pmortgage::before {
    content: "Monthly Mortgage: ";
    font-weight: bold;
}

.prent::before {
    content: "Desired Rent: ";
    font-weight: bold;
}

.pp {
    margin-left: 15px;
}

.pa {
    margin-left: 15px;
}

.pc {
    margin-left: 15px;
}

.ps {
    margin-left: 15px;
}

.pz {
    margin-left: 15px;
}

.pm {
    margin-left: -25px;
    font-weight: bold;
    /* margin-right: px; */
}

.pd {
    font-weight: bold;
}

button {
    border: none;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

.complete-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 15px;
    margin-top: 200px;
}

.next-step1 {
    background: #3b5249;
    color: white;
}

.next-step2 {
    background: #3b5249;
    color: white;
}

.previous-step2 {
    background: #3b5249;
    color: white;
}

.previous-step3 {
    background: #3b5249;
    color: white;
}

.cancel-btn {
    background: #fec2c2;
}

.complete {
    background: #8aea92;
}

.add-property {
    background: #8aea92;
}

img {
    height: 150px;
    width: 200px;
    border-radius: 7px;
}

.img-input {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-url {
    width: 490px;
}

.pimageurl {
    margin-left: -390px;
}