.App {
    height: 100vh;
    width: auto;
    background: #AFD4C0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    height: 80px;
    width: 100vw;
    background: #519872;
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
}

.header-image {
    margin-left: 20%;
    margin-top: 5px;
    height: 40px;
    width: 50px;
}

.main {
    height: 100%;
    width: 60%;
    background: #E5F4EC;
}

.subheader-wizard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 15px 30px 15px;
}

.subheader-dash {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 15px 0px 15px;
    color: #3B5249;
    font-size: 2rem;
    font-weight: bold;
}

hr {
    width: 96%;
    height: 1.2px;
    background: grey;
    opacity: 0.7;
}

.home-listings {
    margin-left: 40px;
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}

.input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.property-input {
    font-weight: bold;
}

.property-input {
    font-weight: bold;
}

.address-input {
    font-weight: bold;
}

.city-input {
    font-weight: bold;
}

.state-input {
    font-weight: bold;
}

.zip-input {
    font-weight: bold;
}

.address {
    width: 500px;
}

.house {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0 15px 25px 15px;
    background: #DEDEDE;
    padding: 10px;
    border-radius: 5px;
}

.info-container {
    display: flex;
    flex-direction: column;
}

p {
    margin: 5px;
}

.pproperty::before {
    content: 'Property Name: ';
    font-weight: bold;
}

.paddress::before {
    content: 'Address: ';
    font-weight: bold;
}

.pcity:before {
    content: 'City: ';
    font-weight: bold;
}

.pstate::before {
    content: 'State: ';
    font-weight: bold;
}

.pzip::before {
    content: 'Zip: ';
    font-weight: bold;
}